@using ArtSkills.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model Art
@{
    ViewData["Title"] = "Art";
}

<div class="post full-width">
    <div class="container-fluid extrarounded bg-lighttt">
        <div class="row">
            <div class="col-md-2">
                @if (Model.ApplicationUser.UserPic != null)
                {
                    <img class="img-circle" height="90" width="90" src="@Model.ApplicationUser.UserPic" />
                }
                else
                {
                    <img class="img-circle" height="90" width="90" src="~/Resources/kittyspace.png" />
                }
            <div class="post-owner">
                @if (@Model.ApplicationUser.artistNickname != null)
                {
                    @Html.ActionLink(@Model.ApplicationUser.artistNickname, "UserWall", "Index", new { userId = @Model.ApplicationUser.Id })
                }
                else
                {
                    @Html.ActionLink(@Model.ApplicationUser.UserName, "UserWall", "Index", new { userId = @Model.ApplicationUser.Id })
                }
            </div>
            </div>
            <div class="col-md-8">

                <div class="text-center">
                    @Html.ActionLink(@Model.Name, "UserWall", "Art", @Model)
                </div>
                <img class="responsive rounded" src="@Model.ImagePath" />
                <div class="post-text">
                    @Model.Description
                </div>
            </div>
            @if (Model.ApplicationUser.Id == UserManager.GetUserId(User))
            {
                <div class="col-md-2">
                    <button postId="@Model.Id" class="delete-post-button"
                            onclick="location.href='@Url.Action("deleteArt", "UserWall", Model)'"></button>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="post-likes">
                    <like class="btn post-like-button not-liked" postId="@Model.Id"><span class="glyphicon glyphicon-heart" postId="@Model.Id"></span> @Model.Likes.Count</like>
                </div>
                <div class="post-date">
                    @Model.PublishDate
                </div>
            </div>
        </div>

    </div>
</div>
