@page
@model Disable2faModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h1>@Localizer["Title"]</h1>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Localizer["Message"]</strong>
    </p>
    <p>
        @Localizer["Mes1"] <a asp-page="./ResetAuthenticator">@Localizer["Mes2"]</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@Localizer["Disable"]</button>
    </form>
</div>
