@using ArtSkills.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Art
@{
    ViewData["Title"] = "Art";
}

<div class="post full-width">
    <div class="container-fluid extrarounded bg-lighttt">
        <div class="row">
            <div class="col-md-2">
                @if (Model.ApplicationUser.UserPic != null)
                {
                    <img class="img-circle" style="margin:10px;" height="90" width="90" src="@Model.ApplicationUser.UserPic" />
                }
                else
                {
                    <img class="img-circle" style="margin:10px;" height="90" width="90" src="~/Resources/kittyspace.png" />
                }
                <div class="post-owner" style="margin-left: 12px;">
                    @if (@Model.ApplicationUser.artistNickname != null)
                    {
                        @Html.ActionLink(@Model.ApplicationUser.artistNickname, "Index", "UserWall", new { Id = @Model.ApplicationUser.Id })

                    }
                    else
                    {
                        @Html.ActionLink(@Model.ApplicationUser.UserName, "Index", "UserWall", new { Id = @Model.ApplicationUser.Id })
                    }
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-center art-name">
                    @Html.ActionLink(@Model.Name, "Art", "Art", new { artID = @Model.Id })
                    <p>@Model.PublishDate</p>
                    <hr />
                </div>
                <img class="responsive extrarounded" src="@Model.ImagePath" />
                <div class="container-fluid bg-extralighttt text-center post-text extrarounded">
                    @Model.Description
                </div>
            </div>
            @{
                var currentUser = (await UserManager.FindByIdAsync(UserManager.GetUserId(User)));
                var verified = false;
                if (currentUser != null)
                {
                    if ((await UserManager.IsInRoleAsync(currentUser, "admin")) || (await UserManager.IsInRoleAsync(currentUser, "moderator")))
                    {
                        verified = true;
                    }
                }
            }
            @if (Model.ApplicationUser.Id == UserManager.GetUserId(User) || verified == true)
            {
                <div class="col-md-2">

                    <button postId="@Model.Id" class="delete-post-button" type="submit"
                            onclick="location.href='@Url.Action("DeleteArt", "Art", new { artID = Model.Id })'"></button>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9">
                <div class="post-likes">
                    @await Component.InvokeAsync("UserLike", new { art = Model })
                </div>
            </div>
            <div class="text-right">@Model.Likes.Count</div>
        </div>
        <div class="row" style=" margin: auto;">
                <div class="container-fluid commentsArea" style="width: 700px;">
                    @{await Html.RenderPartialAsync("~/Views/Comment/CommentsCollection.cshtml", @Model.Comments.ToList());}
                </div>
        </div>
        <div class="row" style=" margin: auto;">
                <div class="container-fluid comment-sending-area" style="width: 700px;">
                    <div class="row">
                        <div class="col-md-11">
                            <textarea class="form-control comment-sending-form"
                                      id="txtrev"
                                      placeholder=@Localizer["Message"]></textarea>
                        </div>
                        <div class="col-md-1">
                            <button class="add-comment-button" data-assigned-id="@Model.Id"
                                   onclick="addComment(this);" ></button>
                        </div>
                    </div>
            </div>
    </div>
        </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/signalr.min.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/comments")
        .build();

     hubConnection.on('Receive', function (message) {
         alert(message);
     });


        hubConnection.on('Notify', function (message) {
            alert(message);
        });

    function addComment(elem) {
        var id = $(elem).data('assigned-id');
        var text = document.getElementById("txtrev").value;
        location.href = '@Url.Action("CommentArt", "Art")' + '?artID=' + id + '&text=' + text;
        hubConnection.invoke('Send', id, text);
    };

    hubConnection.start();
</script>