@using ArtSkills.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model TaskList
@{
    ViewData["Title"] = "EditTaskList";
}
<div class="container-fluid extrarounded bg-lighttt" style="padding-bottom:20px; padding-top: 10px; width:70%;">
    <div class="row">
        @if (Model.ApplicationUser.Id == UserManager.GetUserId(User))
        {
            <div class="col-md-12">
                <button postId="@Model.Id" class="delete-tasklist-button" type="submit"
                        onclick="location.href='@Url.Action("DeleteTaskList", "TaskList", new { taskListID = Model.Id })'"></button>
            </div>
        }
        <div class="col-4 offset-4 text-center">
            <div class="tasklist-name">
                @Html.ActionLink(@Model.Name, "TaskList", "TaskList", new { taskListID = @Model.Id })
            <hr />
            </div>
            @if (Model.Status == true)
            {
                <p>@Model.StartDate.ToString("dd/MM/yyyy") - @Model.EndDate.ToString("dd/MM/yyyy")</p>
            }
            else
            {
                <p>@Model.StartDate.ToString("dd/MM/yyyy") - ...</p>
            }
            <div class="container-fluid extrarounded bg-extralighttt" style="margin-bottom:10px;">
                <p>@Model.Description</p>
            </div>
            <hr />
            @if (Model.Tasks.Count == 0)
            {
                <p>No tasks yet! Add tasks. ^_^</p>
            }
            else
            {
                @foreach (var Task in @Model.Tasks)
                {
                    { await Html.RenderPartialAsync("EditTask.cshtml", @Task); }
                }
            }
            <hr />
            <div class="text-center">
                    <div class="row">
                        <div class="col-md-10">
                            <input id="txtrev" name="name" class="form-control bg-white" placeholder="Task" required />
                        </div>
                        <div class="col-2">
                            <button  data-assigned-id="@Model.Id" 
                                    class="add-task-button"
                                    onclick="myFunction(this);"></button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
 function myFunction(elem){
      var id = $(elem).data('assigned-id');
        var text = document.getElementById("txtrev").value;

        location.href = '@Url.Action("AddTask", "TaskList")' + '?taskListID=' + id + '&name=' + text;
    }
</script>