@using ArtSkills.Models
@using ArtSkills.ViewModels;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Rewrite.Internal.UrlActions
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model UserAndArtsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center bg-image">
    @if (Model.user.UserPic == null)
    {
        <img src="~/Resources/kittyspace.png" style="padding: 10px;" alt="" />
        
    }
    else
    {
        <img src="@Model.user.UserPic" class="img-circle" height="175" width="175" />
    }
    @if (Model.user.artistNickname != null)
    {
        <h1>@Model.user.artistNickname</h1>
    }
    else
    {
        <h1>@Model.user.UserName</h1>
    }
    <p>@Model.user.About</p>
    <p>@Localizer["Followers"] @Model.user.FollowedBy.Count</p>
    @if (Model.user.Id != UserManager.GetUserId(User))
    {
        if (Model.user.FollowedBy.ToList().Find(x => x.FollowerId == UserManager.GetUserId(User)) != null)
        {
            <button id="remove-follower-button"
                    onclick="location.href='@Url.Action("UnfollowUser", "UserWall", new { Id = Model.user.Id })'"
                    class="btn btn-primary">
                @Localizer["Unfollow"]
            </button>
        }
        else
        {
            <button id="update-profile-button"
                    onclick="location.href='@Url.Action("FollowUser", "UserWall", new { Id = Model.user.Id })'"
                    class="btn btn-primary">
                @Localizer["Follow"]
            </button>
        }
    }
    @if (Model.user.Id == UserManager.GetUserId(User))
    {
        <div class="btn-group" role="group">
            <form method="get" asp-controller="UserWall" asp-action="AddArt">
                <button id="addArt" class="btn btn-primary">@Localizer["Load"]</button>
            </form>
            <form method="get" asp-controller="UserWall" asp-action="AddTaskList">
                <button id="add_tasklist" class="btn btn-primary">@Localizer["Add"]</button>
            </form>
            <form method="get" asp-controller="UserWall" asp-action="UploadUserPic">
                <button id="uploadUserPic" class="btn btn-primary">@Localizer["ChangeAvatar"]</button>
            </form>
        </div>
        <!--if (Model.UserRole == "admin" || Model.UserRole == "moderator")-->
        if ((await UserManager.GetRolesAsync(Model.user)).Contains("admin") || (await UserManager.GetRolesAsync(Model.user)).Contains("moderator"))
        {
            <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="Index">@Localizer["Administration"]</a>
        }
    }
</div>
<hr>
<div class="text-center">
    <partial name="_UserWallNavigation" />
    <hr />
</div>

@RenderBody()
